[Unit]
Description=CBHM
After=tizen-runtime.target e17.service
Requires=tizen-runtime.target

[Service]
User=app
Group=app
SmackProcessLabel=cbhm
Type=simple
ExecStart=/usr/apps/org.tizen.cbhm/bin/cbhm
EnvironmentFile=/run/tizen-mobile-env

[Install]
WantedBy=multi-user.target
