[Unit]
Description=Clipboard History Manager
#After=tizen-runtime.target e17.service
#Requires=tizen-runtime.target

[Service]
User=owner
Group=users
Type=simple
ExecStart=/usr/apps/org.tizen.cbhm/bin/cbhm
EnvironmentFile=/run/tizen-system-env

[Install]
WantedBy=multi-user.target
