[Unit]
Description=Clipboard History Manager
#After=tizen-runtime.target e17.service
#Requires=tizen-runtime.target

[Service]
User=owner
Group=users
Type=simple
SmackProcessLabel=User
ExecStart=/usr/apps/org.tizen.cbhm/bin/cbhm
#EnvironmentFile=/run/tizen-system-env  # only needed if system session
#Environment=XDG_RUNTIME_DIR=/run  # only needed if system session

[Install]
WantedBy=multi-user.target
